<title>NewsBlur-About</title>

{% extends "base_admin.html" %}
 
{% block content %}
  <h2><b>About</b></h2>
  
  <p>NewsBlur is web application which provides you news of all around the world in a summarised way. NewsBlur selects latest and best news from multiple national and international sources and summarises them to present in short and crisp 60 words or less format,personalized for you. All summarised stories contain only headlines and facts, no opinions, to help you stay informed with the current affairs. Whether it’s the latest government policies or shakeups in bollywood, get them covered and delivered super fast! Get updated with the latest news and current affairs in a jiffy! </p>

  <h3><b>Features:</b></h3>

  <h3><u>News Readers - Read Summaries of All Breaking News</u></h3>
  <p>Browse through bite-sized 60-word shorts to get update on the latest news in a short time</p>
  <h3><u>My Feed- A feed of latest stories, videos and other content personalised only for you!</u></h3>
  <p>NewsBlur intelligently learns your preference as you browse, and display stories personalised for you in 'My Feed'</p>
  <h3><u>News Categories- A fast variety in the same app</u></h3>
  <p>NewsBlur curates all types of news and headlines from categories like India, politics, entertainment, business, technology, startup
  , world, sports and hatke -<b>all in one place</b></p>
  <p>News is sourced from various categories and various sources, making sure that you always get the best news and stories
Articles are sourced from various publishers and news channels like Times Of India, Hindustan Times, NDTV, The Guardian, NYT, Outlook, TechCrunch, Sportskeeda and many more</p>

<h3><u>Share</u></h3>
<p>Share news on the social media like facebook, Twitter, Google plus and many supported platform</p>
<p>It doesn’t matter if you’re looking for Bollywood stories, BCCI news, science talk or political news - Inshorts brings all of the day’s news together in one beautifully simple, elegantly quick interface.
Read in short, save your time and stay updated with NewsBlur. Visit today, and reinvent the way you read news.
Support: contact@NewsBlur.com
Terms of Use: http://www.NewsBlur.com</p>

<p>&nbsp</p>

  
  <center><h2><b>&nbspContact</b></h2></center>
  <p>&nbsp</p>

  <IMG BORDER="-1" ALIGN="Left" SRC="http://127.0.0.1:5000/static/img/asif.jpg" class="img-circle" alt="Cinque Terre" height="200" width= "200" hspace="20"> 
  <p>&nbsp</p>

  <h5><strong>Name: Asif Akhtar</strong></h5>
  
  <h5><strong>Address: Amity Education Valley, Kant Kalwar, NH-11C, Jaipur Delhi Highway, Jaipur, Rajasthan 303007</strong></h5>
  
  <h5><strong>E-mail : aakhtar189@gmail.com</strong></h5>
  <h5><strong>Phone No: +918963846629</strong></h5>
 
  <h3>Drop us mail &nbsp;<a href="http://newsblurcontact.herokuapp.com/contact"><mediun style="color: Blue">Here</medium></a></h3>
  <p>&nbsp</p>
  <p>&nbsp</p>

{% endblock %}